@font-face {
  font-family: "Next Sunday";
  src: url(../font/Next\ Sunday.otf);
  src: url(../font/Next\ Sunday.ttf);
}
@font-face {
  font-family: "LastEpisode";
  src: url(../font/LastEpisode.otf);
}
h1 {
  font-family: "LastEpisode";
}

h2 {
  font-family: "LastEpisode";
}

h5 {
  font-family: "LastEpisode";
}

@keyframes rotar {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

#check_menu, .navegacion label {
  display: none;
}

body {
  background-color: #c7d3dd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100%;
}

footer iframe {
  width: 300px;
  height: 300px;
}

.flecha { /*flecha hacia arriba*/
  width: 30px;
  position: fixed;
  bottom: 10px;
  right: 30px;
}
.flecha img {
  width: 30px;
}

/* INICIO INDEX */
.navegacion {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #48435C;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.navegacion .logo-container {
  display: flex;
  align-items: center;
  margin-top: 2px;
  width: 30%;
}
.navegacion .logo-container .logo {
  width: 90px;
  animation: rotar 5s ease-in-out infinite;
}
.navegacion .logo-container span {
  font-size: 1.5rem;
  font-weight: 100;
  color: #ffffff;
  font-family: "Next Sunday";
}
.navegacion .navegacion-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  width: 40%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.navegacion .navegacion-nav .nav-item {
  padding: 10px;
}
.navegacion .navegacion-nav .nav-item a {
  color: #ffffff;
  font-family: "LastEpisode";
}
.navegacion .navegacion-nav .nav-item a:hover {
  border-bottom: 1px solid #ffffff;
  transition: 0.1s ease;
}
.navegacion .navegacion-nav .nav-item a.active {
  border-bottom: 1px solid #ffffff;
}
.navegacion label {
  font-size: 1.8rem;
}

.header-container {
  position: relative; /* contenedor de video */
  top: 0;
  width: 100%;
  height: 80vh;
}
.header-container video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.header-container .capa {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.596); /* opacidad */
  mix-blend-mode: overlay; /* revividor de colores */
}
.header-container .container-portada {
  position: absolute;
  background-color: rgba(7, 7, 7, 0.123);
  top: 18%;
  left: 5%;
  padding: 20px; /* relleno interior */
  /* width: 600px;
  height: 300px; */
  height: 300px;
  width: 600px;
  /* primero alto y despues ancho */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.venta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2% 0 0 6%;
  width: 100%;
}
.venta h2 {
  height: 70px;
  text-align: center;
  font-family: "LastEpisode";
}
.venta h2 span {
  color: #48435C;
}
.venta .venta-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 4%;
}
.venta .cards {
  /* height: 400px;
  width: 300px; */
  height: 400px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 5%;
  box-shadow: 1px 1px 5px; /* difuminado bordes */
}
.venta .cards:hover {
  transform: scale(1.02);
  transition: 0.2s;
  cursor: pointer;
}
.venta .cards img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.venta .cards .cards-title h3 {
  font-size: 1.5rem;
}
.venta .cards .card-container {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.alquiler {
  padding: 1.5rem 0 2% 6%;
  width: 100%;
}
.alquiler h2 {
  height: 70px;
  text-align: center;
  font-family: "LastEpisode";
}
.alquiler h2 span {
  color: #48435C;
}
.alquiler .alquiler-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem 4%;
}
.alquiler .cards {
  /* height: 400px;
  width: 300px; */
  height: 400px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 5%;
  box-shadow: 1px 1px 5px;
}
.alquiler .cards:hover {
  transform: scale(1.02);
  transition: 0.2s;
  cursor: pointer;
}
.alquiler .cards img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* FIN INDEX */
/* INICIO VENTAS */
.cabecera { /* modifica en alquileres */
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url(../assets/img/lagunaportada.jpeg);
  background-position: center;
  background-size: cover;
  animation: galeria 30s infinite;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@keyframes galeria {
  0%, 100% {
    background-image: url(../assets/img/lagunaportada.jpeg);
  }
  25% {
    background-image: url(../assets/img/lagunaportada3.jpg);
  }
  50% {
    background-image: url(../assets/img/lagunaportada4.jpeg);
  }
  75% {
    background-image: url(../assets/img/lagunaportada2.jpg);
  }
}
.cabecer { /* modifica en alquileres */
  position: absolute;
  top: 300px;
  color: #ffffff;
  font-family: "Next Sunday";
}

main.ventasht {
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
main.ventasht .form-ventasht {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c7d3dd;
  width: 30%;
  height: 100%;
  padding: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
main.ventasht .form-ventasht span {
  color: #48435C;
}
main.ventasht .form-ventasht .form-casilla { /* modifica alquiler */
  padding: 8px;
}
main.ventasht .sales-cards {
  position: relative;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-y: scroll;
  overflow-y: hidden;
  width: 70%;
  height: 550px;
  left: 15px;
  gap: 1rem;
  padding-bottom: 10px;
}
main.ventasht .sales-cards .card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #c7d3dd;
}
main.ventasht .sales-cards .card:hover {
  transform: scale(0.98);
  transition: 0.4s;
  cursor: pointer;
}
main.ventasht .sales-cards .card img {
  height: 250px;
}

/* FIN VENTAS */
/* INICIO ALQUILER */
.alquilerht {
  position: relative;
  display: flex;
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.alquilerht .form-alquilerht {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #c7d3dd;
  width: 30%;
  height: 100%;
  padding: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.alquilerht .form-alquilerht h2 span {
  color: #48435C;
  font-size: 1.8rem;
}

.alquiler-cards {
  position: relative;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-y: scroll;
  overflow-y: hidden;
  width: 70%;
  height: 500px;
  left: 15px;
  gap: 1rem;
  padding-bottom: 10px;
}
.alquiler-cards .card {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #c7d3dd;
}
.alquiler-cards .card:hover {
  transform: scale(0.98);
  transition: 0.4s;
  cursor: pointer;
}
.alquiler-cards .card img {
  height: 200px;
}

/* FIN ALQUILER */
/* INICIO TASACIONES */
.container-tas {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  padding: 10px;
  background-color: #c7d3dd;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
.container-tas .container-sec {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.container-tas .container-sec .header-tas {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.container-tas .container-sec .header-tas h2 {
  font-size: 2.3rem;
  width: 100%;
  color: #050505;
}
.container-tas .container-sec .header-tas img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 600px;
  height: 400px; */
  height: 400px;
  width: 600px;
}
.container-tas .container-sec .header-tas h3 {
  position: relative;
  font-family: "Next Sunday";
  font-size: 2rem;
  width: 70%;
  left: 16%;
  top: -90px;
  color: #48435C;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.753);
}
.container-tas .container-sec .header-tas .inftas {
  position: relative;
  width: 100%;
  height: 100%;
}
.container-tas .container-sec .header-tas .inftas h4 {
  font-family: "Next Sunday";
  font-size: 1.5rem;
  width: 60%;
  left: 17%;
  top: -90px;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.753);
}
.container-tas .form-tas {
  position: relative;
  width: 100%;
  height: 100%;
}
.container-tas .form-tas .form-containertas {
  padding: 30px;
}
.container-tas .form-tas .form-containertas form {
  padding: 15px;
}
.container-tas .form-tas .form-containertas form h5 {
  position: relative;
  top: -25px;
  font-size: 2rem;
  color: #000000;
}
.container-tas .form-tas .form-containertas form h5 span {
  color: #000000;
}

/* FIN TASACIONES */
/* INICIO CONTACTO */
.cabecera-contact {
  position: relative;
  width: 100%;
  height: 90vh;
}
.cabecera-contact .pics {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 0 10px 0;
  background-color: #ffffff;
}
.cabecera-contact .pics img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.5;
  transition: 0.5s ease;
}
.cabecera-contact .pics img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
.cabecera-contact .contact-title {
  padding: 15px;
}
.cabecera-contact .contact-title h1 {
  position: relative;
  display: inline;
  background-color: #ffffff;
  font-family: "Next Sunday";
  justify-content: center;
  left: 24%;
  width: 100%;
  padding: 10px;
  box-shadow: 15px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 50px;
}
.form-contact .contact {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #c7d3dd;
  width: 60%;
  left: 20%;
  bottom: -40px;
  padding: 30px;
  gap: 1.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

/* inicio error 404 */
.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.error-container h1 {
  color: #d9534f;
}
.error-container p {
  color: #777;
}
.error-container button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  background-color: #5bc0de;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.error-container button button:hover {
  background-color: #46b8da;
}

@media screen and (max-width: 768px) {
  .navegacion label {
    display: block;
    color: #ffffff;
  }
  .navegacion .navegacion-nav {
    display: none;
  }
  .navegacion #check_menu:checked ~ .navegacion-nav {
    background-color: #c7d3dd;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  /* inicio index */
  .header-container .container-portada {
    left: 0;
    width: 100%;
  }
  section.venta {
    padding: 2% 0 0 0;
  }
  section.alquiler {
    padding: 2% 0 0 0;
  }
  .venta .venta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .alquiler .alquiler-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* fin index */
  /* responsive ventas html */
  main.ventasht {
    display: flex;
    flex-direction: column;
  }
  main.ventasht .form-ventasht {
    position: relative;
    width: 100%;
  }
  main.ventasht .sales-cards {
    position: relative;
    display: grid;
    top: 10px;
    width: 100%;
    height: 100%;
    left: 0;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  /* fin html ventas */
  /* inicio html alquiler */
  main.alquilerht {
    display: flex;
    flex-direction: column;
  }
  main.alquilerht .form-alquilerht {
    position: relative;
    width: 100%;
  }
  main.alquilerht .alquiler-cards {
    position: relative;
    display: grid;
    top: 10px;
    width: 100%;
    height: 100%;
    left: 0;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  /* fin html alquiler */
  /* inicio html tasaciones */
  main.container-tas {
    grid-template-columns: repeat(1, 1fr);
  }
  .container-sec div.header-tas img.tass {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
  }
  /* fin html tasaciones */
  /* inicio html contacto */
  header .contact-title {
    position: relative;
    display: inline-block;
    width: 100%;
    right: 13%;
  }
}
@media screen and (max-width: 475px) {
  /* inicio index html */
  section.venta {
    padding: 2% 0 0 0;
  }
  section.alquiler {
    padding: 2% 0 0 0;
  }
  section.venta section.venta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    left: 0;
    right: 0;
  }
  section.alquiler section.alquiler-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-bottom: 20px;
    left: 0;
    right: 0;
  }
  /* fin index html */
  /* inicio ventas html */
  main.ventasht {
    display: grid;
    align-self: center;
    justify-self: center;
  }
  main.ventasht article.sales-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
  }
  /* fin ventas html */
  /* inicio alquiler html */
  main.alquilerht {
    display: grid;
    align-self: center;
    justify-self: center;
  }
  main.alquilerht article.alquiler-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
  }
  /* fin alquiler html */
  /* inicio tasaciones html */
  main.container-tas .container-sec {
    width: 100%;
    height: 100%;
  }
  section.container-sec div h2 {
    width: 100%;
  }
  .container-sec div.header-tas img.tass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    position: relative;
  }
  .inftas h4 {
    display: inline;
    font-size: 1.3rem;
    text-align: center;
  }
  /* fin tasaciones html */
  /* inicio contacto html */
  header.cabecera-contact div.contact-title {
    position: relative;
    display: inline-block;
    width: 100%;
    right: 19%;
    padding: 10px;
  }
  .contact-title h1 {
    font-size: 1.2rem;
  }
  .form-contact {
    width: 100%;
    padding: 20px;
  }
  .form-contact .contact {
    width: 100%;
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
