@font-face {
    font-family: "Next Sunday";
    src: url(../font/Next\ Sunday.otf);
    src: url(../font/Next\ Sunday.ttf);
}

@font-face {
    font-family: "LastEpisode";
    src: url(../font/LastEpisode.otf);
}